@import "null_styles.scss";
.wraper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container {
  padding: 15px;
  margin: 0 auto;
  max-width: 1200px;
}

.header {
  &__contain {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.025em;
    color: #1d1d4a;
  }

  &__items {
    display: flex;
    gap: 24px;
    align-items: center;
  }
  &__item {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.06em;
    color: rgba(23, 20, 30, 0.5);
  }
  &__item:hover {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    /* identical to box height */

    letter-spacing: 0.06em;

    color: #1d1d4a;
  }

  &__btn {
    box-sizing: border-box;
    width: 77px;
    height: 30px;
    border: 1px solid #1d1d4a;
    border-radius: 6px;
  }
  &__btn:hover {
    background-color: rgb(69, 73, 73);
    transition: 0.7s;
    color: #fff;
  }
}
.main {
  display: 1 1 auto;

  .hero {
    background-color: #cde3e6;

    &__container {
      display: flex;
      gap: 92px;
    }
    &__info {
      display: flex;
      flex-direction: column;
      margin-top: 160px;
      margin-bottom: 170px;
    }
    &__title {
      max-width: 527px;
      font-family: "Playfair Display";
      font-style: normal;
      font-weight: 600;
      font-size: 55px;
      line-height: 62px;
      letter-spacing: 0.01em;
      color: #17141e;
    }
    &__descr {
      max-width: 400px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
      letter-spacing: -0.02em;
      padding-top: 25px;
      color: rgba(23, 20, 30, 0.74);
    }
    &__btn {
      margin-top: 30px;
      box-sizing: border-box;
      max-width: 119px;
      height: 39px;
      background: #2c2c56;
      border: 1px solid #1d1d4a;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
    }
    &__img {
     margin-top: 105px;
     margin-bottom: 145px;
      display: flex;
      height: 351px;
      gap: 32px;
    }
  }
}

.footer {
  &__contain {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
  }

  &__words {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__items {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__logo {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    line-height: 36px;
    letter-spacing: -0.055em;
    color: #1d1d4a;
  }
  &__item {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.07em;
    color: #171719;
  }

  .footer__add {
    display: flex;
    flex-direction: column;
    gap: 33px;
    align-items: center;
    .add__title {
      width: 232px;

      font-family: "Playfair Display";
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.005em;

      color: rgba(23, 20, 30, 0.75);
    }
    .add__adds {
      display: flex;
      gap: 96px;
      .adds__add1 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
      }
      .adds__title {
        width: 119px;
        font-family: "Playfair Display";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 124.3%;
        text-align: center;
        color: rgba(23, 20, 30, 0.75);
      }
      .adds__img {
        width: 192px;
        height: 162px;
        background: #d9d9d9;
        border-radius: 7px;
      }
    }
  }

  .login {
    &__title {
      width: 227px;
      height: 63px;

      font-family: "Playfair Display";
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      /* or 131% */

      letter-spacing: -0.005em;
      text-transform: capitalize;

      color: #17141e;
    }
    &__inps {
      box-sizing: border-box;
      max-width: 376px;
      height: 47px;
      border: 1px solid #1d1d4a;
      border-radius: 7px;
      align-items: center;
      justify-content: center;
      display: flex;
      margin-top: 30px;
    }
    &__inp {
      width: 65%;
    }
    &__btn {
      color: #fff;
      box-sizing: border-box;

      width: 30%;
      height: 39px;

      background: #2c2c56;
      border: 1px solid #1d1d4a;
      border-radius: 6px;
    }
    &__logos {
      display: flex;
      gap: 20px;
      margin-top: 15px;
    }
  }

  .logos__title {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.005em;
    text-transform: capitalize;

    color: #17141e;
    margin-top: 25px;
  }
  .footer__foot {
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fafafa;
  }
}
li {
  cursor: pointer;
}
a {
  cursor: pointer;
}
