@import "null_styles.scss";
.wraper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container {
  padding: 15px;
  margin: 0 auto;
  max-width: 1000px;
  border: 1px solid red;
}

.header {
  &__contain {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.025em;
    color: #1d1d4a;
  }
  &__items {
    display: flex;
    gap: 24px;
    align-items: center;
  }
  &__item {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.06em;
    color: rgba(23, 20, 30, 0.5);
  }
  &__item:hover {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    /* identical to box height */

    letter-spacing: 0.06em;

    color: #1d1d4a;
  }
  &__contact {
  }
  &__btn {
    box-sizing: border-box;
    width: 77px;
    height: 30px;
    border: 1px solid #1d1d4a;
    border-radius: 6px;
  }
}
.main {
  display: 1 1 auto;
}

.footer {
}
li {
  cursor: pointer;
}
a {
  cursor: pointer;
}
